$btns-container-height: 80px;
$container-max-width: 1200px;
$header-height: 80px;
$border-color: #D9D9D9;
$header-color: #23166A;
.app {
  background-color: #F9F9F9;
  width: 100vw;
    &__question-box {
      background-color: white;
      max-width: $container-max-width;
      width: inherit;
      height: 700px;
      max-height: calc(100vh - #{$btns-container-height});
      border: solid 1px $border-color;
      box-shadow: 1px 1px 1px $border-color;
      &__header {
        width: inherit;
        background-color: $header-color;
        color: white;
        height: $header-height;
      &__question-number {

      }
    }
    &__question-container {
      height: inherit;
      width: inherit;
      &__question-text {
        max-width: calc(#{$container-max-width} * 2 / 3);
        width: inherit;
      }
      &__reset-container {
        margin-top: 380px; //60px per answer height, 15px per margin * 5. Plus 5 for padding.
        position: relative;
        &__btn {

        }
      }
    }
  }
  &__btns-container {
    height: $btns-container-height;
    max-width: $container-max-width;
    width: inherit;
    &__btn {
      &.--nxt {

      }
      &.--prev {

      }
    }
  }
}
