$btns-container-height: 80px;
$container-max-width: 1200px;
$borderColor: #D9D9D9;

.app {
  background-color: #F9F9F9;
  width: 100vw;

    &__question-box {
      background-color: white;
      max-width: $container-max-width;
      max-height: 1200px;
      height: calc(100vh - #{$btns-container-height});
      border: solid 1px $borderColor;
      box-shadow: 1px 1px 1px $borderColor;
      &__header {
        width: 100%;
        background-color: #23166A;
        color: white;
        text-align: center;
        height: 80px;
      &__text {
        line-height: 80px;
      }
    }
    &__question-container {
      height: 100%;
      width: 100%;

      &__question-text {
        max-width: 600px;
        width: 100%;
      }
    }
  }
  &__btns-container {
    height: $btns-container-height;
    max-width: $container-max-width;
    &__btn {

      &.--nxt {
        background-color: black;
        color: white;
      }

      &.--prev {
        background-color: inherit;
        color: #1062E5;
      }
    }
  }
}
