$option-height: 60px;

.section {
  width: 45vw;
  margin: auto;
  &__answers-container {
    width: 95%;
    max-width: 66%;
    &__answer--blank {
      height: $option-height;
      z-index: 1;
    }
  }
}
