$option-height: 60px;

.section {
  width: 45vw;
  margin: auto;
  &__placeholder-container {
    position: absolute;
    width: 100%;
    max-width: 66%;
  }
  &__answers-container {
    position: absolute;
    width: 100%;
    max-width: 66%;
    &__answer--blank {
      height: $option-height;
      z-index: 1;
    }
  }
}
